*,*::before,*::after{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 80vh;
    padding: 10px;
}
.header{
    display:flex;
    justify-content: space-between;
    font-size: 10px;
}

.header img{
    width: 100px;
    height: 100px;
}


.section_en-tete_CIN{
    justify-content: center;
    height: min-content;
}
.section_en-tete_UNIV{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    width: 33%;
}
#section_french_theme{
    justify-content: space-between;
}

.titre{
    background-color: green;
    display: flex;
    justify-content: center;
    color: white;
    
    
}
#blocs{
    display: flex;
    gap: 2px;

    /* flex-grow: 0.95;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:16px;
    flex-wrap: wrap; */
}

.section{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 10px;
}

.annee{
    background-color: red;
    border-radius: 10px 5px 0px 0px  ;
    color: white;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
.theme{
    background-color: rgb(50, 182, 50);
    color:white;
    justify-content:space-between;
    height: 80px;
    padding: 10px;
    text-align: center;
    font-size: large;
}

#ligne{
    height: 70px;
    color:red;
    align-self: self-end;
}

#foot{
    color: red;
    display: flex;
    justify-content: center;
    width: 100%;
}
#tp{
    color: green;
}
.sous_theme{
    font-size: large;
    text-align: center;
}